<li>
  <% versions_class = "btn"
    versions_class += " btn-link" unless current_page == :versions %>

  <div class="btn-group">
    <%= link_to "all versions", piece_versions_path(piece.id), class: versions_class %>
  </div>
  <% unless current_page == :versions %>
    <span class="divider">/</span>
  <% end %>
</li>
