<%= link_to "<button class=\"btn btn-small btn-success\"><i class=\"icon-edit\"></i> edit</button>".html_safe, edit_piece_path(piece) %>
<%= link_to "<button class=\"btn btn-mini btn-danger\"><i class=\"icon-trash\"></i> delete</button>".html_safe, piece, method: :delete %>
