<div class="row piece-bar">
  <div class="span12">
    <ul class="breadcrumb">
      <%= render partial: "pieces/piece_bar/pieces",
        locals: { current_page: current_page } %>

      <% unless current_page == :pieces %>
        <%= render partial: "pieces/piece_bar/piece",
          locals: { current_page: current_page, piece: piece } %>

        <%= render partial: "pieces/piece_bar/versions",
          locals: { current_page: current_page, piece: piece } %>

        <% if [:version, :draft].include? current_page %>
          <%= render partial: "pieces/piece_bar/version",
            locals: { current_page: current_page, version: version } %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
