<%= link_to "<button class=\"btn btn-success\"><i class=\"icon-edit\"></i> edit</button>".html_safe, edit_piece_path(piece), class: "edit-link" %>
<%= link_to "<button class=\"btn btn-small btn-danger\"><i class=\"icon-trash\"></i></button>".html_safe, piece, method: :delete, class: "delete-link" %>
