<% title = 'your pieces' %>
<% provide :title, title %>

<div class="row">
  <div class="span12">
    <h1><%= title %></h1>

    <% if @pieces.empty? %>
      <p>You have no pieces.</p>
    <% else %>
      <% @pieces.each do |piece| %>
        <p>
          <%= link_to piece.current_version.title, piece %>
          <%= render partial: "pieces/links", locals: { piece: piece } %>
        </p>
      <% end %>
    <% end %>
    <p><%= link_to "Create one!", new_piece_path %></p>
  </div>
</div>
