<% provide :title, @piece.current_version.title %>

<div class="row">
  <div class="span12">
    <%= render template: 'versions/show', locals: { version: @piece.current_version } %>
    <p><%= link_to "edit", edit_piece_path(@piece) %> | <%= link_to "delete", piece_path(@piece), method: :delete %></p>
  </div>
</div>
