<% provide :title, @piece.current_version.title %>
<%= render template: 'versions/show', locals: { version: @piece.current_version } %>
<p><%= link_to "delete", piece_path(@piece.id), method: :delete %></p>
