<% provide :title, @piece.current_version.title %>
<% links = render partial: "pieces/piece_links", locals: { piece: @piece } %>
<% links += render partial: "pieces/versions_link", locals: { piece: @piece } %>

<div class="row">
  <div class="span12">
    <p class="links"><%= links %></p>
    <%= render partial: 'versions/version', locals: { version: @piece.current_version } %>
    <p class="links"><%= links %></p>
  </div>
</div>
