- if !signed_in?
  .row
    .centered.hero-unit
      %h1= link_to raw("<i class=\"icon-user\"></i> ") + "Sign in with Google", "/auth/google_oauth2"

.row
  .offset2.span4
    %h1 What is Tinder?
    %p Tinder helps spark your creativity, connects you with others like you and helps you improve your craft
  .span4
    %h1 How can you use it?
    %p Tinder gives you...
    %ul
      %li a place to store your written pieces
      %li a community from which to <em>get</em> feedback
      %li a community to <em>give</em> feedback
      %li tools to spark your creativity
    %p Use Tinder to boost your skills as author and editor!
