<% if !current_user %>
  <div class="row">
    <div class="centered hero-unit">
      <h1><%= link_to raw("<i class=\"icon-user\"></i> ")+"Sign in with Google", "/auth/google_oauth2" %></h1>
    </div>
  </div>
  <div class="row">
    <div class="offset2 span4">
      <h1>what is tinder?</h1>
      <p>tinder helps spark your creativity, connects you with others like you, and helps you improve your craft!<p>
    </div>
    <div class="span4">
      <h1>how can you use it?</h1>
      <p>tinder gives you...</p>
      <ul>
        <li>a place to store your written pieces</li>
        <li>a community from which to <em>get</em> feedback</li>
        <li>a community to <em>give</em> feedback</li>
        <li>tools to spark your creativity</li>
      </ul>
      <p>Use tinder to boost your skills as author and editor!</p>
    </div>
  </div>
<% else %>
  <% title = 'new piece' %>
  <div class="row">
    <div class="span12">
      <h2><%= title %></h2>
      <% #TODO: This logic probably shouldn't be here! %>
      <% @piece = current_user.pieces.build %>
      <% @version = @piece.versions.build %>
      <%= render partial: '/pieces/form', piece: @piece, version: @version %>
    </div>
  </div>
<% end %>

