<h2><%= version.title %></h2>
<% unless current_user %>
  <h4 class="author muted">by <%= version.piece.user.name %></h4>
<% end %>
<div id="content"><%= simple_format version.content %></div>
<p class="created-time small muted">created <%= time_ago_in_words(version.created_at) %> ago</p>
