<% title = "'#{@piece.title}' - versions" %>
<% provide :title, title %>

<% piece_link = link_to @piece.title, piece_path(@piece) %>

<div class="row">
  <div class="span12">
    <h2><%= piece_link.html_safe %> - versions</h2>
      <table class="versions table table-striped">
        <% @versions.each_with_index do |version, index| %>
          <% version_number = @versions.count - index %>
          <% last_modified = "Last modified #{time_ago_in_words(version.updated_at)} ago" %>
          <tr class="version-row">
            <td>
              <p class="version-title">
                <%= version.title %> 
                <small class="version-number muted">
                  (version #<%= version_number %>)
                </small>
              </p>
              <small class="version-last-modified muted"><%= last_modified %></small>
            </td>
          </tr>
        <% end %>
      </table>
  </div>
</div>
