<% title = @version.title %>
<% provide :title, title %>

<% piece_bar = render partial: "pieces/piece_bar", locals: { piece: @piece, current_page: :version, version: @version } %>

<%= piece_bar %>
<div class="row">
  <div class="version span12">
    <%= render partial: "versions/version", locals: { version: @version } %>
  </div>
</div>
<%= piece_bar %>
