.links {
  text-align: right;
}

.create-piece button{
  margin: 1em;
  .icon-pencil {
    margin-right: .5em;
  }
}

td.piece-links, td.versions-link {
  vertical-align: middle;
}

.piece-version {
  text-align: left;
}

td.versions-link {
  text-align: right;
}
