.links {
  text-align: right;
}

td.piece-links {
  vertical-align: middle;
  text-align:center;
  button { margin-bottom: 5px; }
}

div.piece-bar:last-of-type ul.breadcrumb {
  margin: 20px 0px 0px 0px;
}
